footer{
  background-color: #fff;
  margin-top: 350px;

  .row{
    height: 150px;
  }

  .col-lg-auto{
    margin-right: 70px;
  }

  img{
    max-width: 300px;
    margin-left: 70px;
  }

  #footer-contact{
    a{
      display: block;
      color: #1b3c59;
    }
  }

  #footer-menu{

    a{
      display: block;
      color: #1b3c59;
    }

    .fa-facebook-square{
      color: #1b3c59;
    }
  }

  .footer-bottom{
    background-color: #1b3c59;
    color: #fff;
    height: 100px;

    .left{
      font-size: 15px;
      float: left;
      margin-right: 40px;
      padding: 30px;
    }
    .right{
      font-size: 15px;
      padding: 30px;
    }
  }
}
